@model TestProject.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Регистрация";
    ViewBag.Title = "Title";
}

<link rel="stylesheet" href="~/css/style.css">
<link rel='stylesheet' href='~/lib/font-awesome/css/all.css' type='text/css' />

<div>
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-b-20">
                <form class="login100-form validate-form" method="post" asp-controller="Account" asp-action="Register">
                    <div asp-validation-summary="ModelOnly"></div>
                    <span class="login100-form-title m-b-20">
                        Регистрация
                    </span>
                    <div class="wrap-input100 validate-input m-b-20" data-validate="Введите логин">
                        <label class="login-lable" asp-for="UserName">Логин</label>
                        <input class="input100" asp-for="UserName">
                    </div>

                    <div class="wrap-input100 validate-input m-b-35" data-validate="Введите пароль">
                        <label class="login-lable" asp-for="Password">Пароль</label>
                        <input class="input100" asp-for="Password">
                    </div>

                    <div class="container-login100-form-btn">
                        <input class="login100-form-btn" type="submit" value="Зарегистрировать" />
                    </div>

                    <ul class="login-more p-t-40">
                        <li>
                            <span class="txt1">
                                Уже есть учетная запись?
                            </span>

                            <a asp-controller="Account" asp-action="Login" class="txt2">
                                Войти
                            </a>
                        </li>
                    </ul>
                </form>

            </div>
        </div>
    </div>
</div>


