@model TestProject.ViewModels.TestViewModel
@{
    ViewBag.Title = "Create test";
}
<script>
    var i = 1;
    function duplicate() {
        var original = document.getElementById('container')
        let div = document.createElement('div');
        div.className = "form-group";
        let lab = document.createElement('label');
        lab.className = "control-label";
        lab.setAttribute('asp-for', 'Subject');
        lab.innerHTML = 'Question ' + ++i;
        let inp = document.createElement('input');
        inp.className = "form-control";
        inp.setAttribute('type', 'text');
        inp.setAttribute('asp-for', 'Subject');
        inp.id = "duplic" + i;
        div.appendChild(lab);
        div.appendChild(inp);
        original.appendChild(div);
}
</script>
<input type="button" onclick="duplicate()" class="btn btn-primary btn-circle" value="Add question"/>
<form method="post" asp-controller="Test" asp-action="CreateTest" asp-route-SchoolId="@ViewBag.TestId" id="container">
    <div class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Subject" class="control-label">Subject</label>
        <select class="form-control" asp-for="Subject" id="source">
            @foreach (var subject in @ViewBag.subjects)
            {
                <option>@subject.Name</option>
            }
        </select>
    </div>
    <div class="form-group" >
        <label asp-for="QuestionText" class="control-label">Question 1</label>
        <input type="text" asp-for="QuestionText" class="form-control" id="duplic" />        
    </div>    
</form>
<form asp-action="Create" asp-controller="Test" id="container">
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-outline-secondary" />
    </div>
</form>