@model TestProject.ViewModels.TestViewModel
@{
    ViewBag.Title = "Создание теста";
}
<link rel="stylesheet" type="text/css" href="~/css/test.css" />
<link rel='stylesheet' href='~/lib/font-awesome/css/all.css' type='text/css' />
<form method="post" asp-controller="Test" asp-action="Create" asp-route-subName="@ViewBag.subName" id="container" class="tabs" style="position: relative; padding-bottom: 100px;" enctype="multipart/form-data">
    <div class="text-danger"></div>
    <div class="form-group" style="text-align:center !important">
        <label class="head" asp-for="Subject" id="source">@ViewBag.subName</label><br/>
        <input type="button" id="chA" class="pressed-button2" value="Часть А"/>
    </div>
    <div id="partA">
        <div class="form-group">
            <div class="block" id="div1">
                <div style="display:flex; margin-bottom:10px">
                    <input type="text" readonly value="Вопрос A1" class="inp-lable" name="QuestionList[0].type">
                </div>
                <div>
                    <input type="text" name="QuestionList[0].text" class="form-control" id="duplic1" style="float:left; display:inline-block; width:100%; margin:0px 16px 10px 0px" />
                </div>
                <input type="file" size="60" name="QuestionList[0].imageUrlFile" /><br>
                <br />
                <div style="display:flex; margin-bottom:10px">
                    <h4 style="margin: 0 10px 20px 190px">Ответы</h4>
                    <button onclick="return add(this)" class="pressed-button2 fa fa-plus-circle" id="v1" style="margin-left:10px"></button>
                </div>
                <div id="answ1" class="count">
                    <input type="text" name="QuestionList[0].AnswerList[0].text" class="form-control" id="a1" style="float: left; display: inline-block; width: 65%; margin:5px 23px 0px 190px" />

                    <label class="checkbox-second" style="margin-top:10px">
                        <input type="checkbox" name="QuestionList[0].AnswerList[0].isRight" value="True"  id="ch1" />
                        <div class="checkbox-second__text">Верно</div>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group" id="btnA">
        <input type="button" onclick="duplicate()" class="pressed-button2" id="addQuestion" value="Добавить вопрос" style="margin-top:20px; margin-bottom:10px; bottom:40px" />
    </div>
    <p></p>
    <div class="form-group" style="text-align:center !important">
        <input type="button" id="chB" class="pressed-button2" value="Часть B" asp-for="Type"/>
    </div>
    <div id="partB">
        <div class="form-group">
            <div class="block" id="div1">
                <div style="display:flex; margin-bottom:10px">
                    <input type="text" readonly value="Вопрос B1" class="inp-lable" name="QuestionList[1].type">
                </div>
                <div>
                    <input type="text" name="QuestionList[1].text" class="form-control" id="duplic1" style="float:left; display:inline-block; width:100%; margin:0px 16px 10px 0px" />
                </div>
                <input type="file" size="60" name="QuestionList[1].imageUrlFile" /><br>
                <br />
                <div style="display:flex; margin-bottom:10px">
                    <h4 style="margin: 0 10px 10px 190px">Ответ</h4>
                    <div id="answ1" class="count" style="display:flex">
                        <input type="text" name="QuestionList[1].AnswerList[0].text" class="form-control" id="a1" style="width:650px; margin:0px 15px 10px 0px"/>
                        <label class="checkbox-second" style="margin-top:10px">
                            <input type="checkbox" name="QuestionList[1].AnswerList[0].isRight" value="True" checked id="ch1" onclick="return false;"/>
                            <div class="checkbox-second__text">Верно</div>
                        </label>
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="form-group" id="btnB">
        <input type="button" onclick="duplicateB()" class="pressed-button2" id="addQuestion" value="Добавить вопрос" style="margin-top:20px; margin-bottom:10px; bottom:40px" />
    </div>
    <p></p>
    <div class="form-group">
        <input type="submit" value="Создать" class="butt" style="margin-top: 30px; bottom: 0px" />
    </div>
</form>
<script src="https://code.jquery.com/jquery-3.1.1.js"
        integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
        crossorigin="anonymous"></script>
<script src="~/js/duplicate.js">
</script>
<script src="~/js/duplicateB.js">
</script>
<script>
    var subject = document.getElementById('source');
    subject.onchange = function () {
        document.cookie = 'subject=' + subject.value + '; path=/;';
    };
    function getCookie(name) {
        var matches = document.cookie.match(new RegExp(
            "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
        ));
        return matches ? decodeURIComponent(matches[1]) : undefined;
    }
    var select = document.getElementById('source'),
        cookie = getCookie('subject');
    if (cookie) {
        select.value = cookie;
    }

    var subjectSelect = container.source;


    var chA = document.getElementById("chA");
    var chB = document.getElementById("chB");
    var divBloc = document.getElementById("partA");
    var divBlocB = document.getElementById("partB");
    var btnA = document.getElementById("btnA");
    var btnB = document.getElementById("btnB");
    
    chA.addEventListener("click", function () {
        if (divBloc.hidden == true) {
            divBloc.hidden = false;
            btnA.hidden = false;
        }
        else if (divBloc.hidden == false) {
            divBloc.hidden = true;
            btnA.hidden = true;
        }        
    });

    chB.addEventListener("click", function () {
        if (divBlocB.hidden == true) {
            divBlocB.hidden = false;
            btnB.hidden = false;
        }
        else if (divBlocB.hidden == false) {
            divBlocB.hidden = true;
            btnB.hidden = true;
        }
    });
</script>