
.table_price {
    border-collapse: collapse;
    border-left: 3px solid #555555;
    border-right: 3px solid #555555;
    border-bottom: 3px solid #555555;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-family: "Lucida Grande", sans-serif;
    width: 520px;
    margin: 25px;
}

    .table_price caption {
        background: #555555;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 10px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.3);
        color: white;
        font-family: "Roboto Slab",serif;
        font-style: normal;
        font-size: 26px;
        text-align: center;
        margin: 0;
        caption-side: top !important;
    }

    .table_price td, .table_price th {
        padding: 10px;
    }

    .table_price th {
        text-align: left;
        font-size: 18px;
    }

    .table_price tr:nth-child(2n) {
        background: #f2f2f2;
    }

    .table_price td:last-of-type {
        text-align: center;
    }

   
