<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel='stylesheet' href='~/lib/font-awesome/css/all.css' type='text/css' />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div id="page-top">        
        <div id="header-wrapper">            
            <div id="header">
                <div id="logo">
                    @if (User.Identity.IsAuthenticated && User.IsInRole("user"))
                    {
                        <img style="width:70px; height:70px; margin-right:120px" src="https://res.cloudinary.com/alesya/image/upload/v1649711110/Images/sova_ihryjq.png">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Главная <i class="fa fa-home"></i></a>
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="AllResult">Мои результаты</a>


                    }
                    else if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                    {
                        <img style="width: 70px; height: 70px; margin-right: 120px" src="https://res.cloudinary.com/alesya/image/upload/v1649711110/Images/sova_ihryjq.png">
                        <a class="navbar-brand" asp-controller="Users" asp-action="Index">Главная <i class="fa fa-home"></i></a>

                    }
                    else
                    {
                        <img style="width: 70px; height: 70px; margin-right: 120px; visibility:hidden" />
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Главная <i class="fa fa-home"></i></a>

                    }
                </div>
                <div id="menu-wrapper">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <form method="post" asp-controller="Home" asp-action="SearchResult">
                            <input type="text" name="search" placeholder="Введите предмет" style="float: left; width: 70%; margin:5px"/>
                            <button type="submit" class="pressed-button" style="float: left">Поиск</button>
                        </form>

                        <form method="post" asp-controller="Account" asp-action="Logout">
                            <input class="pressed-button" type="submit" value="Выйти" />
                        </form>

                    }
                    else
                    {

                        <form asp-controller="Account" asp-action="Login">
                            <input class="pressed-button" type="submit" value="Войти" />
                        </form>
                        <form asp-controller="Account" asp-action="Register">
                            <input class="pressed-button" type="submit" value="Регистрация" />
                        </form>

                    }
                </div>
            </div>
        </div>
        </div>
                        <div class="container">
                            <main role="main" class="pb-3">
                                @RenderBody()
                                <div id="results"></div>
                            </main>
                        </div>

                        <footer class="border-top footer text-muted">
                            <div class="container">

                            </div>
                        </footer>
                        <script src="~/lib/jquery/dist/jquery.min.js"></script>
                        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
                        <script src="~/js/site.js" asp-append-version="true"></script>
                        @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>

    function search(subject) {

        $.ajax({
            type: "get",
            url: '@Url.Action("SearchResult","Home")',
            data: { id: subject },
            timeout: 1000,
            success: function (response) {
                $('#results').html(response);
        }
        });

    }

</script>
