@model IEnumerable<TestProject.Models.User>
@{
    ViewBag.Title = "List of users";
}

<div style="margin-bottom:20px">
    <a class="btn btn-outline-primary" asp-action="Create">Create user</a>
</div>

<table class="table">
    <tr><th>Email</th><th></th></tr>

    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>
                <form style="float:right" asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-outline-info" asp-action="Edit" asp-route-id="@user.Id">Change</a>                   
                    <a class="btn btn-outline-info" asp-action="EditRole" asp-route-userid="@user.Id">Role</a>                   
                    <button type="submit" class="btn btn-outline-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>