@{
    ViewData["Title"] = "History";
}
<link rel="stylesheet" type="text/css" href="~/css/page.css" />
<h1 class="page-header text-center">
    История Беларуси. Сборник тестов
</h1>


<div class="page-desc text-center">
    <div class="card-text frame">
        <img src="https://res.cloudinary.com/alesya/image/upload/v1637824131/Images/angl_lm9rxn.jpg"></img>
    </div>
    <div class="card-test frame">
        <div class="text-center lead visual_text">
            Сборник включает 5 вариантов тестовых заданий для подготовки к централизованному тестированию. Содержание заданий соответствует требованиям программы вступительных испытаний, а также ответы к ним.
        </div>
    </div>
</div>
<br>
<br>
<h2 class="card-test__title text-center">ТЕСТЫ</h2>

<div class="card-test__text block-xs lead">
    <h4>Часть А</h4><p>
    В части А представлено 38 заданий закрытого типа с выбором одного верного ответа.<br><br>
</p><h4>Часть В</h4><p>
    В части В предложено 12 заданий. Помимо заданий закрытого типа, в этой части приведены задания открытого типа без выбора ответа.
</p><br>
</div>
<div class="container">
    <div class="row">
        <form class="col col-lg" action="/test-online/24143/variant1/" method="post">
            <input type="hidden" name="COURSE_ID" value="1" />
            <input type="hidden" name="ID" value="1" />
            <button class="btn btn-primary btn-lg" type="submit" name="next" value="Начать" title="Начать">Вариант 1</button>
        </form>
        <form class="col col-lg" action="/test-online/24143/variant2/" method="post">
            <input type="hidden" name="COURSE_ID" value="1" />
            <input type="hidden" name="ID" value="2" />
            <button class="btn btn-primary btn-lg" type="submit" name="next" value="Начать" title="Начать">Вариант 2</button>
        </form>
        <form class="col col-lg" action="/test-online/24143/variant3/" method="post">
            <input type="hidden" name="COURSE_ID" value="1" />
            <input type="hidden" name="ID" value="3" />
            <button class="btn btn-primary btn-lg" type="submit" name="next" value="Начать" title="Начать">Вариант 3</button>
        </form>
        <form class="col col-lg" action="/test-online/24143/variant4/" method="post">
            <input type="hidden" name="COURSE_ID" value="1" />
            <input type="hidden" name="ID" value="7" />
            <button class="btn btn-primary btn-lg" type="submit" name="next" value="Начать" title="Начать">Вариант 4</button>
        </form>
        <form class="col col-lg" action="/test-online/24143/variant5/" method="post">
            <input type="hidden" name="COURSE_ID" value="1" />
            <input type="hidden" name="ID" value="8" />
            <button class="btn btn-primary btn-lg" type="submit" name="next" value="Начать" title="Начать">Вариант 5</button>
        </form>
    </div>
</div>
