@{
    ViewData["Title"] = "Обществоведение";
}
@model TestProject.Models.Subject
<link rel="stylesheet" type="text/css" href="~/css/page.css" />
<link rel='stylesheet' href='~/lib/font-awesome/css/all.css' type='text/css' />
<div class="transparent">
    <h1 class="page-header text-center">
        Обществоведение. Сборник тестов
    </h1>


    <div class="page-desc text-center">
        <div class="card-text frame">
            <div class="bubble">
                <div class="rectangle">Обществоведение</div>
                <div class="triangle-l"></div>
                <div class="triangle-r"></div>
                <div class="info">
                    <img src="https://res.cloudinary.com/alesya/image/upload/v1649802136/Images/obsh_qgjrnt.jpg">
                </div>
            </div>
        </div>
        <div class="card-test frame">
            <div class="text-center lead visual_text">
                Сборник включает варианты тестовых заданий для подготовки к централизованному тестированию. Содержание заданий соответствует требованиям программы вступительных испытаний, а также ответы к ним.
            </div>
        </div>
    </div>
    <br>
    <br>
    <h2 class="card-test__title text-center">ТЕСТЫ</h2>

    <div class="card-test__text block-xs lead">
        <h4>Часть А</h4><p>
            В каждом задании части A может быть только один правильный ответ. Выберите его.<br><br>
        </p><h4>Часть В</h4><p>
            Помимо заданий закрытого типа, в части B приведены задания открытого типа без выбора ответа.
        </p><br>
    </div>
    <div class="container">
        <div class="row">

            @foreach (var t in @ViewBag.variants)
            {
                <form class="col col-lg" method="post" asp-controller="UserTest" asp-action="Index" asp-route-subId=@Model.Id asp-route-variant=@t.IdVariant>
                    <input type="hidden" name="COURSE_ID" value="1" />
                    <input type="hidden" name="ID" />
                    <button class="pressed-button" type="submit" name="next" value="Начать" title="Начать">Вариант @t.IdVariant</button>
                </form>
            }
        </div>
    </div>
</div>