@{
    ViewData["Title"] = "Химия";
}
@model TestProject.Models.Subject
<link rel="stylesheet" type="text/css" href="~/css/page.css" />
<link rel='stylesheet' href='~/lib/font-awesome/css/all.css' type='text/css' />
<div class="transparent">
    <h1 class="page-header text-center">
        Химия. Сборник тестов
    </h1>


    <div class="page-desc text-center">
        <div class="card-text frame">
            <div class="bubble">
                <div class="rectangle">Химия</div>
                <div class="triangle-l"></div>
                <div class="triangle-r"></div>
                <div class="info">
                    <img src="https://res.cloudinary.com/alesya/image/upload/v1649802114/Images/chem_ttb8fh.jpg">
                </div>
            </div>
        </div>
        <div class="card-test frame">
            <div class="text-center lead visual_text">
                Сборник содержит варианты тестовых заданий по химии для подготовки к централизованному тестированию, разработанных в соответствии с программой вступительных испытаний, а также ответы к ним.
            </div>
        </div>
    </div>
    <br>
    <br>
    <h2 class="card-test__title text-center">ТЕСТЫ</h2>

    <div class="card-test__text block-xs lead">
        <h4>Часть А</h4><p>
            В каждом задании части A один из предложенных вариантов ответа является верным. Выберите ответ.<br><br>
        </p><h4>Часть В</h4><p>
            В расчетных задачах части В получите ответ в виде числового значения в единицах, указанных в условии задания. Дробные числа округлите до целых по правилам приближенных вычислений. Введите ответ. В заданиях на установление соответствия ответ в виде сочетания букв и цифр введите, соблюдая алфавитную последовательность букв левого столбца.
        </p><br>
    </div>
    <div class="container">
        <div class="row">
            @foreach (var t in @ViewBag.variants)
            {
                <form class="col col-lg" method="post" asp-controller="UserTest" asp-action="Index" asp-route-subId=@Model.Id asp-route-variant=@t.IdVariant>
                    <input type="hidden" name="COURSE_ID" value="1" />
                    <input type="hidden" name="ID" />
                    <button class="pressed-button" type="submit" name="next" value="Начать" title="Начать">Вариант @t.IdVariant</button>
                </form>
            }
        </div>
    </div>
</div>