@{
    ViewData["Title"] = "Physics";
}
<link rel="stylesheet" type="text/css" href="~/css/page.css" />
<h1 class="page-header text-center">
    Физика. Сборник тестов
</h1>


<div class="page-desc text-center">
    <div class="card-text frame">
        <img src="https://res.cloudinary.com/alesya/image/upload/v1637824132/Images/phis_rytcqo.jpg"></img>
    </div>
    <div class="card-test frame">
        <div class="text-center lead visual_text">
            Сборник содержит 5 вариантов тестовых заданий по физике для подготовки к централизованному тестированию, разработанных в соответствии с программой вступительных испытаний, а также ответы к ним.
        </div>
    </div>
</div>
<br>
<br>
<h2 class="card-test__title text-center">ТЕСТЫ</h2>

<div class="card-test__text block-xs lead">
    <h4>Часть А</h4><p>
    В каждом задании части A один из предложенных вариантов ответа является верным.<br><br>
</p><h4>Часть В</h4><p>
    Выберите ответ. В заданиях части В получите ответ в виде числового значения в единицах, указанных в условии задания. Если в результате вычислений получается не целое число, округлите его до целого по правилам приближенных вычислений.
</p><br>
</div>
<div class="container">
    <div class="row">
        @*<form class="col col-lg" action="/test-online/24143/variant1/" method="post">
            <input type="hidden" name="COURSE_ID" value="1" />
            <input type="hidden" name="ID" value="1" />
            <button class="btn btn-primary btn-lg" type="submit" name="next" value="Начать" title="Начать">Вариант 1</button>
        </form>
        <form class="col col-lg" action="/test-online/24143/variant2/" method="post">
            <input type="hidden" name="COURSE_ID" value="1" />
            <input type="hidden" name="ID" value="2" />
            <button class="btn btn-primary btn-lg" type="submit" name="next" value="Начать" title="Начать">Вариант 2</button>
        </form>
        <form class="col col-lg" action="/test-online/24143/variant3/" method="post">
            <input type="hidden" name="COURSE_ID" value="1" />
            <input type="hidden" name="ID" value="3" />
            <button class="btn btn-primary btn-lg" type="submit" name="next" value="Начать" title="Начать">Вариант 3</button>
        </form>
        <form class="col col-lg" action="/test-online/24143/variant4/" method="post">
            <input type="hidden" name="COURSE_ID" value="1" />
            <input type="hidden" name="ID" value="7" />
            <button class="btn btn-primary btn-lg" type="submit" name="next" value="Начать" title="Начать">Вариант 4</button>
        </form>
        <form class="col col-lg" action="/test-online/24143/variant5/" method="post">
            <input type="hidden" name="COURSE_ID" value="1" />
            <input type="hidden" name="ID" value="8" />
            <button class="btn btn-primary btn-lg" type="submit" name="next" value="Начать" title="Начать">Вариант 5</button>
        </form>*@
        @foreach (var t in @ViewBag.variants)
        {
            <form class="col col-lg" method="post">
                <input type="hidden" name="COURSE_ID" value="1" />
                <input type="hidden" name="ID" />
                <button class="btn btn-primary btn-lg" type="submit" name="next" value="Начать" title="Начать">Вариант @t.IdVariant</button>
            </form>
        }
    </div>
</div>
