@{
    ViewData["Title"] = "Math";
}
<link rel="stylesheet" type="text/css" href="~/css/page.css" />
<h1 class="page-header text-center">
    Математика. Сборник тестов
</h1>


<div class="page-desc text-center">
    <div class="card-text frame">
        <img src="https://res.cloudinary.com/alesya/image/upload/v1637824131/Images/math_vgs1ra.jpg"></img>
    </div>
    <div class="card-test frame">
        <div class="text-center lead visual_text">
            Сборник содержит 5 вариантов тестовых заданий по математике для подготовки к централизованному тестированию, разработанных в соответствии с программой вступительных испытаний, а также ответы к ним.
        </div>
    </div>
</div>
<br>
<br>
<h2 class="card-test__title text-center">ТЕСТЫ</h2>

<div class="card-test__text block-xs lead">
    <h4>Часть А</h4><p>
    В части А представлено 18 заданий закрытого типа с выбором одного верного ответа.<br><br>
</p><h4>Часть В</h4><p>
    В части B предложено 12 заданий открытого типа без выбора ответа.
</p><br>
</div>
<div class="container">
    <div class="row">
       @foreach (var t in @ViewBag.variants)
        {
            <form class="col col-lg" method="post" asp-controller="UserTest" asp-action="Index">
                <input type="hidden" name="COURSE_ID" value="1" />
                <input type="hidden" name="ID" />
                <button class="btn btn-primary btn-lg" type="submit" name="next" value="Начать" title="Начать">Вариант @t.IdVariant</button>
            </form>
        }
    </div>
</div>
